@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

$primary-color: #ffffff;
$text-color: #00ff11;
$text-color-hover: #661122;
$font-family-sans-serif: Nunito Sans, serif !important;